#PIN "clock_21mhz/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLOCK_50" LOC = P55 | IOSTANDARD = LVCMOS33;

NET "vga_v"		LOC="P85"  |IOSTANDARD=LVCMOS33;                                
NET "vga_h"		LOC="P87"  |IOSTANDARD=LVCMOS33;                                

NET "vga_g(0)"		LOC="P82"  |IOSTANDARD=LVCMOS33;                                
NET "vga_b(0)"		LOC="P88"  |IOSTANDARD=LVCMOS33;                               
NET "vga_r(0)"		LOC="P79"  |IOSTANDARD=LVCMOS33;                               
NET "vga_g(1)"		LOC="P83"  |IOSTANDARD=LVCMOS33;                                
NET "vga_b(1)"		LOC="P92"  |IOSTANDARD=LVCMOS33;                                
NET "vga_r(1)"		LOC="P80"  |IOSTANDARD=LVCMOS33;                                
NET "vga_g(2)"		LOC="P84"  |IOSTANDARD=LVCMOS33;                               
NET "vga_b(2)"		LOC="P93"  |IOSTANDARD=LVCMOS33;                              
NET "vga_r(2)"		LOC="P81"  |IOSTANDARD=LVCMOS33;                                
                               
NET "led" 	  LOC = "P11" | IOSTANDARD = LVCMOS33;

NET "AUDIO_L" LOC = "P10" | IOSTANDARD = LVCMOS33;
NET "AUDIO_R" LOC = "P9" | IOSTANDARD = LVCMOS33;

NET "ram_a<0>"  LOC="P141" | IOSTANDARD = LVCMOS33;
NET "ram_a<1>"  LOC="P139" | IOSTANDARD = LVCMOS33;
NET "ram_a<2>"  LOC="P137" | IOSTANDARD = LVCMOS33;
NET "ram_a<3>"  LOC="P134" | IOSTANDARD = LVCMOS33;
NET "ram_a<4>"  LOC="P133" | IOSTANDARD = LVCMOS33;
NET "ram_a<5>"  LOC="P120" | IOSTANDARD = LVCMOS33;
NET "ram_a<6>"  LOC="P118" | IOSTANDARD = LVCMOS33;
NET "ram_a<7>"  LOC="P116" | IOSTANDARD = LVCMOS33;
NET "ram_a<8>"  LOC="P114" | IOSTANDARD = LVCMOS33;
NET "ram_a<9>"  LOC="P112"  | IOSTANDARD = LVCMOS33;
NET "ram_a<10>" LOC="P104" | IOSTANDARD = LVCMOS33;
NET "ram_a<11>" LOC="P102" | IOSTANDARD = LVCMOS33;
NET "ram_a<12>" LOC="P101" | IOSTANDARD = LVCMOS33;
NET "ram_a<13>" LOC="P100" | IOSTANDARD = LVCMOS33;
NET "ram_a<14>" LOC="P111" | IOSTANDARD = LVCMOS33;
NET "ram_a<15>" LOC="P131" | IOSTANDARD = LVCMOS33;
NET "ram_a<16>" LOC="P138" | IOSTANDARD = LVCMOS33;
NET "ram_a<17>" LOC="P140" | IOSTANDARD = LVCMOS33;
NET "ram_a<18>" LOC="P142" | IOSTANDARD = LVCMOS33;
NET "ram_a<19>" LOC="P105" | IOSTANDARD = LVCMOS33;
NET "ram_a<20>" LOC="P143" | IOSTANDARD = LVCMOS33;

NET "ram_d<0>" LOC="P132" | IOSTANDARD = LVCMOS33;
NET "ram_d<1>" LOC="P127" | IOSTANDARD = LVCMOS33;
NET "ram_d<2>" LOC="P124" | IOSTANDARD = LVCMOS33;
NET "ram_d<3>" LOC="P123" | IOSTANDARD = LVCMOS33;
NET "ram_d<4>" LOC="P115" | IOSTANDARD = LVCMOS33;
NET "ram_d<5>" LOC="P117" | IOSTANDARD = LVCMOS33;
NET "ram_d<6>" LOC="P119" | IOSTANDARD = LVCMOS33;
NET "ram_d<7>" LOC="P126" | IOSTANDARD = LVCMOS33;

NET ram_WE_n  LOC="P121" | IOSTANDARD=LVCMOS33 | SLEW=FAST;

###SRAM Externa
# SRAM EXPANSION
#NET "ext_ram_a<0>"  LOC="P58" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<1>"  LOC="P56" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<2>"  LOC="P57" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<3>"  LOC="P51" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<4>"  LOC="P48" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<5>"  LOC="P40" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<6>"  LOC="P35" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<7>"  LOC="P15" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<8>"  LOC="P12" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<9>"  LOC="P14" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<10>"  LOC="P16" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<11>"  LOC="P21" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<12>"  LOC="P23" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<13>"  LOC="P22" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<14>"  LOC="P24" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<15>"  LOC="P30" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<16>"  LOC="P33" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<17>"  LOC="P34" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<18>"  LOC="P43" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<19>"  LOC="P17" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_a<20>"  LOC="P44" | IOSTANDARD = LVCMOS33;
#
#NET "ext_ram_d<0>"  LOC="P50" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_d<1>"  LOC="P47" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_d<2>"  LOC="P45" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_d<3>"  LOC="P46" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_d<4>"  LOC="P27" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_d<5>"  LOC="P26" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_d<6>"  LOC="P29" | IOSTANDARD = LVCMOS33;
#NET "ext_ram_d<7>"  LOC="P32" | IOSTANDARD = LVCMOS33;
#
#NET "ext_ram_WE_n"  LOC="P41" | IOSTANDARD = LVCMOS33;
###

NET "P_A"  LOC = P8 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_D"  LOC = P5 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_L"  LOC = P6 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_R"  LOC = P7 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_U"  LOC = P1 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_tr" LOC = P2 | IOSTANDARD = LVCMOS33 | PULLUP;

###JoySplitter AV optional J16
NET "P_Fire3" LOC = P39;
NET "P_Fire3" IOSTANDARD = LVCMOS33 | DRIVE=24 | SLEW = SLOW;
##--##


###Jamma addon / MFH 2M##
NET "P2_U"   LOC="P26" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "P2_D"   LOC="P30" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "P2_L"   LOC="P34" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "P2_R"   LOC="P41" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "P2_A"   LOC="P47" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "P2_tr"  LOC="P46" | IOSTANDARD=LVCMOS33 | PULLUP;

NET "SW1"  	 LOC="P15" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "SW2"  	 LOC="P56" | IOSTANDARD=LVCMOS33 | PULLUP;
## -- ##

NET "PS2_CLK" LOC = P99;
NET "PS2_CLK" IOSTANDARD = LVCMOS33;
NET "PS2_CLK" PULLUP;
NET "PS2_DAT" LOC = P98;
NET "PS2_DAT" IOSTANDARD = LVCMOS33;
NET "PS2_DAT" PULLUP;

NET SPI_MISO       LOC="P78" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET SPI_MOSI       LOC="P74" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET SPI_CLK        LOC="P75" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET SPI_CS         LOC="P59" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;

#NET "PAL" LOC = P67;
#NET "PAL" IOSTANDARD = LVCMOS33;
#NET "NTSC" LOC = P66;
#NET "NTSC" IOSTANDARD = LVCMOS33;


#DEBUG
#NET "sseg_an[0]" LOC = P11   | IOSTANDARD=LVCMOS33;
#NET "sseg_an[1]" LOC = P16   | IOSTANDARD=LVCMOS33;
#NET "sseg_an[2]" LOC = P58   | IOSTANDARD=LVCMOS33;
#NET "sseg_an[3]" LOC = P51   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[3]" LOC = P44   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[0]" LOC = P40   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[1]" LOC = P21   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[2]" LOC = P33   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[4]" LOC = P47   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[5]" LOC = P24   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[6]" LOC = P29   | IOSTANDARD=LVCMOS33;
#NET "reset" LOC = P56   | IOSTANDARD=LVCMOS33;
#NET "set" LOC = P48   | IOSTANDARD=LVCMOS33;